<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
<title>Poseidon</title>
<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a></li>
                    <li role="presentation" class="active"><a href="#">About</a></li>
                </ul>
            </nav>
            <h3 class="text-muted"><img src="{{ url_for('static', filename='img/poseidon.jpg') }}" width="546" height="67"/></h3>
        </div>
        
        <div class="jumbotron">
            <h2>About</h2>
            <p class="lead">Developed for CSE182 final project in Fall 2014<br>University of California, San Diego</p>
            <table class="table table-hover">
                <tr>
                    <th>Team Members</th>
                </tr>
                <tr>
                    <td>Hunter Boyce</td>
                </tr>
                <tr>
                    <td>Jasmine Nguyen</td>
                </tr>
                <tr>
                    <td>Katerina Simunkova</td>
                </tr>
                <tr>
                    <td>Nicole Widmont</td>
                </tr>
            </table>
        </div>

        <footer class="footer">
            <p>&copy; Poseidon Team 2014</p>
            <img src="{{ url_for('static', filename='img/schean.jpg') }}" width="25" height="25"/>
            <img src="{{ url_for('static', filename='img/parsnip.jpg') }}" width="25" height="25"/>
        </footer>
    </div>

</body>
</html>
