<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
<title>Variant View</title>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a></li>
                    <li role="presentation"><a href="/about">About</a></li>
                </ul>
            </nav>
            <h3 class="text-muted"><img src="{{ url_for('static', filename='img/poseidon.jpg') }}" width="546" height="67"/></h3>
        </div>

        <div class="jumbotron">
            <h2>Variant Viewer</h2>
            <p class="lead">Scroll Down to view Variants</p>
        </div>

        <div class="jumbotron">
            <p class="lead">This individual is {{ af["Sex"] }}</p>
            <p class="text-muted">{{ af["Desc"] }}</p>
            <p class="text-muted">There are {{ keys|length }} entries</p>
        </div>
        
        {% for variant in keys %}
        <div class="jumbotron">
            <h2>{{ variant }}</h2>

            <table class="table table-hover">
            {% for desc in af[variant] %}
                <tr>
                    <th> {{ desc[0] }} </th>
                    <td> {{ desc[1] }} </td>
                </tr>
            {% endfor %}
            </table>

        </div>
        {% endfor %}

        <footer class="footer">
            <p>&copy; Poseidon Team 2014</p>
        </footer>
    </div>

</body>
